
body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: white;
  padding: 15px 30px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
  color: orange;
}

.page-title {
  text-align: center;
  margin: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}
.card {
  width: 250px;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  background: white;
  border-radius: 10px;
  transition: 0.3s ease;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
button {
  background: orange;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

button:hover {
  background: darkorange;
}

.hero {
  height: 300px;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero button {
  background: black;
}


.about-hero {
  height: 300px;
  background: url("https://images.unsplash.com/photo-1607082348824-0a96f2a4b9da") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.about-content {
  padding: 40px;
}
.login-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.login-box {
  background: white;
  padding: 30px;
  width: 300px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.login-box button {
  width: 100%;
}

.extra {
  margin-top: 15px;
  font-size: 14px;
}

.extra a {
  color: orange;
  text-decoration: none;
}

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}